<div class="jumbotron">
<div class="container">
  <form #f="ngForm" name="loginForm" novalidate>
    <div class="form-group row" [ngClass]="{ 'has-danger': !(userEmail.valid || (userEmail.pristine && !f.submitted))}">

      <div class="col-sm-10">

        <div class="input-group margin-bottom-sm">
          <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
          <input class="form-control" type="text" required email #userEmail="ngModel" name="useremail" [(ngModel)]="useremail" placeholder="Email address">
        </div>
        <div *ngIf="!userEmail.pristine">
          <small class="form-text form-control-feedback" *ngIf="userEmail.errors?.email">Email is not valid</small>
          <small class="form-text form-control-feedback" *ngIf="userEmail.errors?.required">Email is required</small>
        </div>
      </div>
    </div>
    <div class="form-group row" [ngClass]="{ 'has-danger': !(userPassword.valid || (userPassword.pristine && !f.submitted))}">
      <div class="col-sm-10">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
          <input class="form-control" type="password" #userPassword="ngModel" required name="userpassword" [(ngModel)]="userpassword"
            placeholder="Password">
        </div>
        <div *ngIf="!userPassword.pristine">
          <small class="form-text form-control-feedback" *ngIf="userPassword.errors?.required">Password is required</small>
        </div>
      </div>
    </div>


    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" (click)="login(f.value, f.valid)" [disabled]="!f.valid" class="btn btn-primary">Sign in</button>
      </div>
    </div>
  </form>
</div>
</div>
